<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="css/home.css" rel="stylesheet">
    <!--背景图片-->
    <div id="web_bg" style="background-image: url(image/bg.png);"></div>
    </div>
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">




    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="js/jquery-1.8.3.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <script src="js/login.js"></script>
    <link href="css/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>



<div class="container">
    <div class="row">

        <!-- Mixins-->
        <!-- Pen Title-->
        <div class="pen-title" style="margin-bottom: 50px;margin-top: 50px;">
            <h1>AskMe</h1>
        </div>
        <div class="container">
            <div class="card"></div>
            <div class="card">
                <h1 class="title">登录</h1>
                <div class="alert alert-warning alert-dismissible " role="alert" th:if="${failedtologin}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <strong>提示:</strong><p th:text="${failedtologin}">密码错误验证失败</p>
                </div>
                <form action="/login" method="post">
                    <div class="input-container">
                        <input type="text" id="Username" name="username" required="required"/>
                        <label for="Username">用户名</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" name="password" required="required"/>
                        <label for="Password">密码</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button><span>Go</span></button>
                    </div>

                </form>
            </div>
            <div class="card alt">
                <div class="toggle"></div>
                <h1 class="title">注册
                    <div class="close"></div>
                </h1>
                <form action="/reg" method="post">
                    <div class="input-container">
                        <table><tr>
                            <td><img class = "img-rounded " style="display:block;max-width: 100%;min-height: 100px; margin-bottom: 20px; margin-left: 40px;
							"  src="image/head2.jpg"></td>
                            <td><img class = "img-rounded " style="display:block;max-width: 100%;min-height: 100px; margin-bottom: 20px; margin-left: 50px;
							"  src="image/head4.jpg"></td>
                        </tr></table>
                        <table><tr>
                            <td><div><input style="margin-left: 55px;" id="head" type="radio" name="headUrl" value="http://localhost:8080/image/head2.jpg" checked></div></td>
                            <td><div><input style="margin-left: 125px;" id="head" type="radio" name="headUrl" value="http://localhost:8080/image/head4.jpg" ></div></td>
                        </tr></table>

                    </div>


                    <div class="input-container">


                        <input type="text" id="Username" name="username" required="required"/>
                        <label for="Username">用户名</label>
                        <div class="bar"></div>
                    </div>


                    <div class="input-container">
                        <input type="password" id="Password" name="password" required="required"/>
                        <label for="Password">密码</label>
                        <div class="bar"></div>
                    </div>

                    <div class="button-container">
                        <button><span>Next</span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Portfolio--><a id="portfolio" href="/" title="返回主页面"><i class="fa fa-link"></i></a>
    </div>
</div>






    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
