<!DOCTYPE html >
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


	<!--背景图片-->
		<div id="web_bg" style="background-image: url(image/bg.png);"></div>
	</div>
    <title>AskMe</title>
	
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	
	
    
	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<script src="js/jquery-1.8.3.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<!------ Include the above in your HEAD tag ---------->
	  <!--<script type="text/javascript" src="js/quesion.js"></script>-->
	  <link href="css/home.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>



    <body>
	<div class="container" >

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">AskMe</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>问题广场</a></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
							class="glyphicon glyphicon-search"></span>查找<b class="caret"></b></a>
						<ul class="dropdown-menu" style="min-width: 300px;">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="navbar-form navbar-left" role="search" action="/search" method="get">
											<div class="input-group">
												<input type="text" class="form-control" name="text" placeholder="Search" />
												<span class="input-group-btn">
		                                            <button class="btn btn-primary" type="submit">
		                                                Go!</button>
		                                        </span>
											</div>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" >
					<li class="dropdown" th:if="${user}"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
							class="glyphicon glyphicon-envelope"></span>信息<span class="label label-info">32</span>
					</a>
						<ul class="dropdown-menu" >
							<li><a href="#"><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
							<li><a href="#"><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
							<li><a href="#"><span class="label label-warning">5:00 AM</span>Subscriber focused email
								design</a></li>
							<li class="divider"></li>
							<li><a href="#" class="text-center">View All</a></li>
						</ul>
					</li>
					<li class="dropdown" th:if="${user}"><a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" th:text="${user.name}"><span
							class="glyphicon glyphicon-user"></span>Admin <b class="caret"></b></a>
						<ul class="dropdown-menu" >
							<li><a href="#"><span class="glyphicon glyphicon-home" ></span>我的主页</a></li>
							<li class="divider"></li>
							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
						</ul>
					</li>

					<li class="dropdown" th:if="${user == Null}"><a href="/login" ><span
							class="glyphicon glyphicon-log-in"></span>登录</a>

					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
		<!-- #####################################################header#################################################################### -->
	
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					
					<div class="row clearfix">
						<div class="col-md-8 column">
							
							
							<div class="container">

							<div class="col-md-12">
								<!-- question-->

								<!-- question-->
								<h1 th:utext="${qst.title}">Alice in Wonderland, part dos</h1>
								<p th:utext="${qst.content}">'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
								'Yes, we went to school in the sea, though you mayn't believe it—'
								'I never said I didn't!' interrupted Alice.
								'You did,' said the Mock Turtle.</p>
								<div>
							<span class="badge" th:text="${#dates.format(qst.createdDate,'yyyy-MM-dd HH:mm:ss')}">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">Tag</span> </div>
									<div th:if="${acmt}">
										采纳答案：
										<p th:utext="${acmt.content}"></p>
									</div>
								 </div>
								<div class="demo_line_01">👇</div>
							</div>

							</div>

							<div class="container">


	
							<div class="card col-md-12" th:each="cmt:${cmts}">

								<div class="card-body">
									<div class="row">
										<div class="col-md-2">
											<img  th:attr="src=@{${cmt.user.headUrl}}" src="https://image.ibb.co/jw55Ex/def_face.jpg"  class="img img-rounded img-fluid"/>
										</div>
										<div class="col-md-10">
											<p>
												<a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html" th:utext="${cmt.user.name}"><strong>Maniruzzaman Akash</strong></a>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>

										   </p>
										   <div class="clearfix" ></div>
											<p th:utext="${cmt.comment.content}">Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											<p>
											<div th:if="${user}">
												<form action="/user/adopt" method="post" th:if="${qst.userId == user.id}">
													<input type="hidden" name="commentId" th:value="${cmt.comment.id}" >
													<input type="hidden" name="questionId" th:value="${qst.id}" >
													<input type="hidden" name="questionUserId" th:value="${qst.userId}" >
													<button type="submit" class="btn btn-default pull-right " aria-label="Left Align">

														<span  aria-hidden="true" >采纳</span>
													</button>
												</form>
										    </div>
											<p th:text="${#dates.format(cmt.comment.createdDate,'yyyy-MM-dd HH:mm:ss')}" class="text-secondary badge" >15 Minutes Ago</p>
											<form action="/user/like" method="post" th:if="${not cmt.haslike and not cmt.hasdislike}">
											    <input type="hidden" name="commentId" th:value="${cmt.comment.id}" >
												<button type="submit" class="btn btn-default pull-right " aria-label="Left Align">

												  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" th:text="${cmt.like}">11</span>
												</button>
										    </form>
											<form action="/user/dislike" method="post" th:if="${not cmt.haslike and not cmt.hasdislike}">
												<input type="hidden" name="commentId" th:value="${cmt.comment.id}" >
												<button type="submit" class="btn btn-default pull-right" aria-label="Left Align" >
													<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" th:text="${cmt.dislike}">1</span>
												</button>
											</form>

											    <button type="button" class="btn btn-success pull-right disabled" aria-label="Left Align" th:if="${cmt.haslike}">
													<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" th:text="${cmt.like}">11</span>
												</button>

												<button type="button" class="btn btn-default pull-right disabled" aria-label="Left Align" th:if="${cmt.haslike}">
													<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" th:text="${cmt.dislike}">1</span>
												</button>

												<button type="button" class="btn btn-default pull-right disabled" aria-label="Left Align" th:if="${cmt.hasdislike}">
													<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" th:text="${cmt.like}">11</span>
												</button>

												<button type="button" class="btn btn-danger pull-right disabled" aria-label="Left Align" th:if="${cmt.hasdislike}">
													<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" th:text="${cmt.dislike}">11</span>
												</button>

										   </p>
										</div>
									</div>
										
								</div>
								<HR style="border:3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
								<!--<div class="demo_line_01">👇</div>-->

							</div>
							
							<div class="card col-md-8">

							</div>


						</div>

							
						</div>

						<div class="col-md-4 column">
							<div class="col-md-12">
								<div class="thumbnail" style="margin-top: 20px;">
									<div class="caption">
										 <h3 class="col-md-offset-4" style="margin-bottom: 20px;"><small>回答数</small><p th:text="${qst.commentCount}">10</p></h3>
										
										<button href="#" class="btn btn-danger btn-block"  data-toggle="modal" data-target="#QuestionModal" id="QuestionButton">我也要提问</button>
										<button href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#CommentModal" id="CommentButton">我也要回答</button>


									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">


									<div class="list-group" style="margin-top: 17px; margin-left: 20px; margin-right: 10px">
										<a href="" class="list-group-item active">
											<h4 class="list-group-item-heading"><strong>最新回答</strong></h4>

										</a>
										<tr th:each="cvo : ${cvos}">
											<a  class="list-group-item"  href=""  th:href="@{~/qst(id = ${cvo.comment.entityId})}" >
												<img img th:src="@{${cvo.user.headUrl}}" class = "pull-left img-circle" src="http://images.nowcoder.com/head/112t.png">
												<div class="">
													<p class="list-group-item-heading" th:text="${cvo.user.name}" style="margin-left: 50px; color:skyblue;">用户名</p>
													<p style="margin-left: 50px; color: #9D9D9D;" th:utext="${#dates.format(cvo.comment.createdDate,'yyyy-MM-dd HH:mm:ss')}+回答了"}><small>回答了：</small></p>

												</div>

												<p class = "list-group-item-text " th:utext="${cvo.comment.content}">请求一个Bootstrap组件的网站</p>
											</a>
										</tr>

									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 column">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- #####################################################footer#################################################################### -->
		<div class="container">
		
		    <hr>
		        <div class="text-center center-block">
		            <p class="txt-railway">- Copyright @AskMe 2019 -</p>
		            <br />
		            <button type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">  <strong>STAR</strong>myGithub</span>
					</button>    
					<button type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-bitcoin" aria-hidden="true">  <strong>My Blog</strong></span>
					</button>    
		</div>
		    <hr>
		</div>



	<!-- 回复 -->
	<div class="modal fade"  id="CommentModal"  role="dialog"  aria-hidden="true" >
		<form  action="/user/submitcmt" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">回答</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="id" th:value="${qst.id}">
					<textarea class="col-md-12" rows="6" type="text" id="comment" name="content" required="required" style="resize:none" > </textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">提交更改</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
		</form>
	</div>
	<!-- 回复 -->


	<!-- 提问 -->
	<div class="modal fade" id="QuestionModal"  role="dialog"  aria-hidden="true" >
		<form action="/user/submitqst" method="post">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel2">提问</h4>
					</div>
					<div class="modal-body">
						<label>标题</label>
						<textarea class="col-md-12" rows="1" type="text" id="title" name="title" required="required" style="resize:none" > </textarea>
						<label>内容</label>
						<textarea class="col-md-12" rows="6" type="text" id="content" name="content" required="required" style="resize:none" > </textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">提交更改</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</form>
	</div>
	<!-- 提问 -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
