<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<link href="css/home.css" rel="stylesheet">
	<!--背景图片-->
		<div id="web_bg" style="background-image: url(image/bg.png);"></div>
	</div>
    <title>Narrow Jumbotron Template for Bootstrap</title>
	
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	
    
	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<script src="js/jquery-1.8.3.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<!------ Include the above in your HEAD tag ---------->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


    <body>
		<div class="container">
		    <nav class="navbar navbar-default" role="navigation">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
		                    class="icon-bar"></span><span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="http://www.jquery2dotnet.com">AskMe</a>
		        </div>
		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav">
		                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>问题广场</a></li>
		                
		                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
		                    class="glyphicon glyphicon-search"></span>查找<b class="caret"></b></a>
		                    <ul class="dropdown-menu" style="min-width: 300px;">
		                        <li>
		                            <div class="row">
		                                <div class="col-md-12">
		                                    <form class="navbar-form navbar-left" role="search">
		                                    <div class="input-group">
		                                        <input type="text" class="form-control" placeholder="Search" />
		                                        <span class="input-group-btn">
		                                            <button class="btn btn-primary" type="button">
		                                                Go!</button>
		                                        </span>
		                                    </div>
		                                    </form>
		                                </div>
		                            </div>
		                        </li>
		                    </ul>
		                </li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
		                    class="glyphicon glyphicon-envelope"></span>信息<span class="label label-info">32</span>
		                </a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#"><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
		                        <li><a href="#"><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
		                        <li><a href="#"><span class="label label-warning">5:00 AM</span>Subscriber focused email
		                            design</a></li>
		                        <li class="divider"></li>
		                        <li><a href="#" class="text-center">View All</a></li>
		                    </ul>
		                </li>
		                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
		                    class="glyphicon glyphicon-user"></span>Admin <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>我的主页</a></li>
		                        <li class="divider"></li>
		                        <li><a href="#"><span class="glyphicon glyphicon-off"></span>注销</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </nav>
		</div>
		<!-- #####################################################header#################################################################### -->
	
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					
					<div class="row clearfix">
						<div class="col-md-8 column">
							
							
							<div class="container">
							<div class="col-md-8">
								<h1>Alice in Wonderland, part dos</h1>
								<p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
								'Yes, we went to school in the sea, though you mayn't believe it—'
								'I never said I didn't!' interrupted Alice.
								'You did,' said the Mock Turtle.</p>
								<div>
							<span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
							<span class="label label-danger">Danger</span></div>         
								 </div>
								<div class="demo_line_01">👇</div>
							</div>
							</div>
							
							<div class="container">

	
							<div class="card col-md-8">
								<div class="card-body">
									<div class="row">
										<div class="col-md-2">
											<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
											<p class="text-secondary text-center">15 Minutes Ago</p>
										</div>
										<div class="col-md-10">
											<p>
												<a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>

										   </p>
										   <div class="clearfix"></div>
											<p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											<p>
												
												<button type="button" class="btn btn-success pull-right" aria-label="Left Align">
												  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">11</span>
												</button>
												<button type="button" class="btn btn-default pull-right" aria-label="Left Align">
												  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">1</span>
												</button>

										   </p>
										</div>
									</div>
										
								</div>
							</div>
							
							<div class="card col-md-8">
								<div class="card-body">
									<div class="row">
										<div class="col-md-2">
											<img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
											<p class="text-secondary text-center">15 Minutes Ago</p>
										</div>
										<div class="col-md-10">
											<p>
												<a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
												<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							
										   </p>
										   <div class="clearfix"></div>
											<p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											<p>
												
												<button type="button" class="btn btn-default pull-right" aria-label="Left Align">
												  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">11</span>
												</button>
												<button type="button" class="btn btn-danger pull-right" aria-label="Left Align">
												  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">1</span>
												</button>
							
										   </p>
										</div>
									</div>
										
								</div>
							</div>
						</div>

							
						</div>
						
						<div class="col-md-4 column">
							<div class="col-md-12">
								<div class="thumbnail" style="margin-top: 20px;">
									<div class="caption">
										 <h3 class="col-md-offset-4" style="margin-bottom: 20px;"><small>回答数</small>10</h3>
										
										<p align="center"><a href="#" class="btn btn-danger btn-block">我也要提问</a>
										<p align="center"><a href="#" class="btn btn-primary btn-block">我也要回答</a>
										</p>
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									
									
									<div class="col-md-12">
										<h4>Latest News</h4>
										<ul class="timeline">
											<li>
												<a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
												<a href="#" class="float-right">21 March, 2014</a>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
											</li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 column">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- #####################################################footer#################################################################### -->
		<div class="container">
		
		    <hr>
		        <div class="text-center center-block">
		            <p class="txt-railway">- Copyright @AskMe 2019 -</p>
		            <br />
		            <button type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">  <strong>STAR</strong>myGithub</span>
					</button>    
					<button type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-bitcoin" aria-hidden="true">  <strong>My Blog</strong></span>
					</button>    
		</div>
		    <hr>
		</div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
